 /*通用样式*/
@charset "utf-8";
/*样式重置*/

a{ text-decoration:none;color: #a4a4a4;}
.clear{clear:both;}
.clr10{clear:both;width:3.75rem; height:0.1rem; background-color:#f4f4f4;margin: 0 auto;}
.clr55{clear:both;width:3.75rem;height:0.55rem;}
body {/*background: #f4f4f4;*/ overflow-x:hidden;  /*x轴超出的时候隐藏*/-webkit-tap-highlight-color: rgba(0,0,0,0); /*点击元素的高亮颜色，一般用于ios 移动设备*/
   font-family:Optima, Verdana,'Microsoft Yahei', sans-serif; width:100%; height:100%;/*font-size:32px;*/  padding-bottom:0.6rem;}
.top{
	width:3.75rem;
	height:2rem;
	position:relative;
	color:#4e4e4e;
	font-family:"宋体";
	background: #fff;
}
.bg_Img{
	width:3.75rem;
	height:1.5rem;
}
.bg_Img img{
	width:3.75rem;
	height:1.5rem;
}
.user_Img{
	width:0.8rem;
	height:0.8rem;
	border-radius:0.4rem;
	position:absolute;
	left:0.2rem;
	top:0.95rem;
}
.user_Img img{
	width:0.8rem;
	height:0.8rem;
}
.userName{
	font-size:0.20rem;
	height:0.5rem;
	line-height:0.5rem;
	padding-left:1.2rem;
}
.userName a{color:#4e4e4e;}
.text{
	width:3.75rem;
	font-family:"宋体";
	font-size:0.20rem;
	background: #fff;
}
.text ul{
	width:3.75rem;
	padding:0 0.15rem;
}
.text ul li{
	width:3.45rem;
	border-bottom:1px solid #ebebeb;
	height:0.6rem;
	line-height:0.6rem;
	color:#4e4e4e;
}
.text ul li p{
	float:left;
	padding-left:0.55rem;
}
.text ul li p span{
	color:#ff435d;
}
.text .balance a{
	float:right;
	width:0.65rem;
	height:0.3rem;
	margin-top:0.15rem;
	background-color:#ff5269;
	line-height:0.3rem;
	color:#fff;
	text-align:center;
}
.text ul li a{
	float:right;
	color:#4e4e4e;
}
.balance{
	background:url(../image/wd__06.png) no-repeat left 50%;
	background-size:0.4rem 0.4rem;
}
.mg{
	background:url(../image/wd__09.png) no-repeat left 50%;
	background-size:0.4rem 0.4rem;
}
.zj{
	background:url(../image/wd__11.png) no-repeat left 50%;
	background-size:0.4rem 0.4rem;
}
.cz{
	background:url(../image/wd__13.png) no-repeat left 50%;
	background-size:0.4rem 0.4rem;
}
.sd{
	background:url(../image/wd__15.png) no-repeat left 50%;
	background-size:0.4rem 0.4rem;
}
.help{
	background:url(../image/wd__17.png) no-repeat left 50%;
	background-size:0.4rem 0.4rem;
}
.set{
	background:url(../image/wd__19.png) no-repeat left 50%;
	background-size:0.4rem 0.4rem;
}
.text .fw_sj{
	height:1.5rem;
	background-color:#f4f4f4;
	text-align:center;
}
.text .fw_sj .p1{
	padding-top:0.5rem;
	color:#a4a4a4;
}
.text .fw_sj .p2{
	padding-top:0.1rem;
	color:#a4a4a4;
}
.bottom{
	width:3.75rem;
	height:0.55rem;
	font-size:0.19rem;
	position:fixed;
	left:0;
	bottom:0;
	background-color:#fff;
}
.bottom li{
	float:left;
	width:25%;
	line-height:0.55rem;
	text-align:center;
}
.bottom li a{
	float:left;
	width:100%;
	height:0.55rem;
	color:#4e4e4e;
}
.bottom .my a{
	color:#ff435d;
}
/*个人资料结束*/

/*登录*/
.login{
	width:2.95rem;
	font-size:0.18rem;
	color:#a4a4a4;
	padding:0 0.4rem;
	margin:0 auto;
	background: #fff;
}
.logo{
	width:3.75rem;
	height:1.8rem;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	background: #666;
}
.logo img{
	width:1rem;
	height:1rem;
}
.dl{
	position:relative;
}
.dl p{
	/*padding-top:0.1rem;*/
	width:2.95rem;
	text-align:right;
	font-size:0.17rem;
}
.dl p a{
	color:#a4a4a4;
}
.dlSJ{
	width:2.95rem;
	color:#a4a4a4;
	border:none;
	height:0.35rem;
	font-size:0.18rem;
	padding-left:0.1rem;
	border-bottom:1px solid #ebebeb;
}
.dlMM{
	width:2.95rem;
	color:#a4a4a4;
	border:none;
	height:0.35rem;
	font-size:0.18rem;
	margin-top:0.2rem;
	padding-left:0.1rem;
	border-bottom:1px solid #ebebeb;
}
#close{
	width:0.22rem;
	height:0.22rem;
	position:absolute;
	right:0.1rem;
	top:0.6rem;
}
#dlDL{
	background-color:#ff5269;
	border:none;
	font-size:0.2rem;
	width:2.95rem;
	height:0.38rem;
	line-height:0.38rem;
	color:#fff;
	border-radius:0.3rem;
	margin-top:0.3rem;
	margin-bottom:0.15rem;
	text-align: center!important;
}
.dl a{
	color:#ff5c72;
}
.qtdl{
	width:2.95rem;
	/*padding-top:0.1rem;*/
	text-align:center;
}
.qtdl img{
	width:0.8rem;
	height:0.8rem;
	padding-top:0.3rem;
}
/*登录结束*/

/*重置密码*/
.mm{
	width:3.75rem;
	margin: 0 auto;
	/*padding:0 0.2rem;*/
	text-align:center;
	position:relative;
	font-size:0.16rem;
	/*padding-top:0.2rem;*/
	padding-bottom: .2rem;
	
}
.bai{
	background-color:#fff;
	padding-bottom: .1rem;
}
.mm span{
	position:absolute;
	right:0.25rem;
	top:0.28rem;
	color:#ff6579;
	display:block;
}
.use_xy{
	overflow: hidden;
	text-align:left;
	padding-left: .3rem;
	margin-top: .1rem;
	color: #a4a4a4;
	font-size: 0.18rem;
}
.use_xy em{
	float: left;
	display: block;
	width: .25rem;
	height: .25rem;
	background: url(../image/gou.png) 0 3px no-repeat;
    background-size: .22rem .22rem;
}
.use_xy a{
	text-decoration: underline;
	color: #89a9fd;
	padding-left: .1rem;
}
.mm .time60{
	position:absolute;
	right:0.25rem;
	top:0.45rem;
	display:none;
	color:#a4a4a4;
	font-size:0.16rem;
}
.mmSJ{
	width:3.2rem;
	color:#a4a4a4;
	border:none;
	height:0.35rem;
	/*padding-left:0.1rem;*/
	font-size:0.18rem;
	margin-top:0.2rem;
	border-bottom:1px solid #ebebeb;
}
.mmMM{
	width:3.2rem;
	color:#a4a4a4;
	border:none;
	height:0.35rem;
	/*padding-left:0.1rem;*/
	font-size:0.18rem;
	margin-top:0.2rem;
	/*border-bottom:1px solid #ebebeb;*/
}
.mmMM-1{
	width:3.2rem;
	color:#a4a4a4;
	border:none;
	height:0.35rem;
	/*padding-left:0.1rem;*/
	font-size:0.18rem;
	margin-top:0.2rem;
	border-bottom:1px solid #ebebeb;
}
.yzm{
	width:3.2rem;
	color:#a4a4a4;
	border:none;
	height:0.35rem;
	font-size:0.18rem;
	/*padding-left:0.1rem;*/
	margin-top:0.2rem;
	border-bottom:1px solid #ebebeb;
}


.mmCZ{
	background-color:#ff5269;
	border:none;
	font-size:0.2rem;
	width:2.95rem;
	height:0.4rem;
	line-height:0.4rem;
	color:#fff;
	border-radius:0.2rem;
	margin: 0.3rem auto 0;
	margin-bottom:0.15rem;
	text-align: center;
}
/*收缩菜单*/
.v {
	width: .14rem;
	height: .15rem;
	overflow: hidden;
	background: url(../image/vicon.png) no-repeat;
	display: inline-block;
	background-size: .15rem;
}

.v01 {
	background-position: 0 0;
}

.v02 {
	background-position: 0 -0.15rem;
}


.bzxq {
	width: 3.75rem;
	margin: 0 auto;
	padding: 0 .1rem;
	box-sizing: border-box;
}

.bzxq h3 {
	font-size: .16rem;
	text-align: center;
	line-height: .5rem;
	border-bottom: 1px solid #ededed;
}

.bzxq p {
	font-size: .14rem;
	line-height: .24rem;
}

.vcontent{
	margin-bottom: 0.1rem;
}
.vtitle{
	border-bottom: 1px solid #d0d0d0;
	padding: 0.05rem 0;
}
.vtitle .vtext{
	margin-right: 0.1rem;
	font-size: 0.14rem;
	color: #333;	
}
.vcon{
	font-size: 0.12rem;
	color: #666;
	padding: 0.1rem;
	background-color: #f1f2f3;
}
.vcon ul li{
	margin-bottom: 0.05rem;
}
